stages:
  - build
  - test
  - deploy

build_taskit:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:v1.9.0-debug
    entrypoint: [""]
  script:
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"auth\":\"$(printf '%s' "gitlab-ci-token:${CI_JOB_TOKEN}" | base64)\"}}}" > /kaniko/.docker/config.json
    - /kaniko/executor --context "${CI_PROJECT_DIR}/taskit-service" --dockerfile "${CI_PROJECT_DIR}/taskit-service/Dockerfile" --destination "gitlab.lnu.se:5050/eg223ps/assignment-2-2dv013/taskit-backend:${CI_COMMIT_REF_SLUG}"
    - echo "✓ Successfully built and pushed taskit-backend:${CI_COMMIT_REF_SLUG}"


build_analytics:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:v1.9.0-debug
    entrypoint: [""]
  script:
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"auth\":\"$(printf '%s' "gitlab-ci-token:${CI_JOB_TOKEN}" | base64)\"}}}" > /kaniko/.docker/config.json
    - /kaniko/executor --context "${CI_PROJECT_DIR}/analytics-service" --dockerfile "${CI_PROJECT_DIR}/analytics-service/Dockerfile" --destination "gitlab.lnu.se:5050/eg223ps/assignment-2-2dv013/taskit-analytics:${CI_COMMIT_REF_SLUG}"
    - echo "✓ Successfully built and pushed taskit-analytics:${CI_COMMIT_REF_SLUG}"


test_taskit:
  stage: test
  image: node:20
  script:
    - cd taskit-service
    - npm ci
    - npm run lint
    - npm test || echo "No tests yet"

test_analytics:
  stage: test
  image: node:20
  script:
    - cd analytics-service
    - npm ci
    - npm run lint || echo "No linter"
    - npm test || echo "No tests yet"

deploy_k8s:
  stage: deploy
  image:
    name: bitnami/kubectl:latest
    entrypoint: ["/bin/sh", "-c"]
  script:
    - echo "$KUBECONFIG_DATA" | base64 -d > kubeconfig.yaml
    - export KUBECONFIG=$PWD/kubeconfig.yaml

    - echo "Creating ImagePullSecret for GitLab Container Registry..."
    - kubectl create secret docker-registry gitlab-registry-secret --docker-server=gitlab.lnu.se:5050 --docker-username=$CI_REGISTRY_USER --docker-password=$CI_JOB_TOKEN --docker-email=$GITLAB_USER_EMAIL --dry-run=client -o yaml | kubectl apply -f -

    - kubectl apply -f k8s/ --recursive
    - echo "Waiting for deployments to rollout..."
    - kubectl rollout status deployment/taskit || true
    - kubectl rollout status deployment/analytics || true
    - echo "✓ Deployment complete!"

  only:
    - main
    - master
    - deploy
  environment:
    name: production
