image: docker:27-cli

stages:
  - build
  - test
  - push
  - deploy

variables:
  DOCKER_DRIVER: overlay2
  IMAGE_TAG_TASKIT: $DOCKER_USER/taskit-backend:$CI_COMMIT_REF_SLUG
  IMAGE_TAG_ANALYTICS: $DOCKER_USER/taskit-analytics:$CI_COMMIT_REF_SLUG

before_script:
  - echo $DOCKER_PASSWORD | docker login -u $DOCKER_USER --password-stdin

build_taskit:
  stage: build
  script:
    - docker build --pull -t $IMAGE_TAG_TASKIT -f ./taskit-service/Dockerfile ./taskit-service

build_analytics:
  stage: build
  script:
    - docker build --pull -t $IMAGE_TAG_ANALYTICS ./analytics-service

test_taskit:
  stage: test
  script:
    - cd taskit-service
    - npm ci
    - npm run lint
    - npm test || echo "No tests yet"

test_analytics:
  stage: test
  script:
    - cd analytics-service
    - npm ci
    - npm run lint || echo "No linter"
    - npm test || echo "No tests yet"

push_taskit:
  stage: push
  script:
    - docker push $IMAGE_TAG_TASKIT

push_analytics:
  stage: push
  script:
    - docker push $IMAGE_TAG_ANALYTICS

deploy_k8s:
  stage: deploy
  image: bitnami/kubectl:latest
  script:
    - echo "$KUBECONFIG_DATA" | base64 -d > kubeconfig.yaml
    - export KUBECONFIG=$PWD/kubeconfig.yaml
    - kubectl apply -f k8s/
  only:
    - main
    - master
    - deploy
  environment:
    name: production