stages:
  - build
  - test
  - deploy

build_taskit:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:v1.9.0-debug
    entrypoint: [""]
  script:
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"auth\":\"$(printf '%s' "gitlab-ci-token:${CI_JOB_TOKEN}" | base64)\"}}}" > /kaniko/.docker/config.json
    - /kaniko/executor --context "${CI_PROJECT_DIR}/taskit-service" --dockerfile "${CI_PROJECT_DIR}/taskit-service/Dockerfile" --destination "${CI_REGISTRY_IMAGE}/taskit-backend:${CI_COMMIT_REF_SLUG}"

build_analytics:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:v1.9.0-debug
    entrypoint: [""]
  script:
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"auth\":\"$(printf '%s' "gitlab-ci-token:${CI_JOB_TOKEN}" | base64)\"}}}" > /kaniko/.docker/config.json
    - /kaniko/executor --context "${CI_PROJECT_DIR}/analytics-service" --dockerfile "${CI_PROJECT_DIR}/analytics-service/Dockerfile" --destination "${CI_REGISTRY_IMAGE}/taskit-analytics:${CI_COMMIT_REF_SLUG}"

test_taskit:
  stage: test
  image: node:20
  script:
    - cd taskit-service
    - npm ci
    - npm run lint
    - npm test || echo "No tests yet"

test_analytics:
  stage: test
  image: node:20
  script:
    - cd analytics-service
    - npm ci
    - npm run lint || echo "No linter"
    - npm test || echo "No tests yet"

deploy_k8s:
  stage: deploy
  image: lachlanevenson/k8s-kubectl:latest
  script:
    - echo "$KUBECONFIG_DATA" | base64 -d > kubeconfig.yaml
    - export KUBECONFIG=$PWD/kubeconfig.yaml
    - kubectl apply -f k8s/
    - kubectl rollout status deployment/taskit-backend || true
    - kubectl rollout status deployment/taskit-analytics || true
  only:
    - main
    - master
    - deploy
  environment:
    name: production