apiVersion: apps/v1
kind: Deployment
metadata:
  name: analytics
spec:
  replicas: 1
  selector:
    matchLabels:
      app: analytics
  template:
    metadata:
      labels:
        app: analytics
    spec:
      containers:
        - name: analytics
          image: pannkakor/taskit-analytics:1.0.0
          ports:
            - containerPort: 4000
          env:
            - name: PORT
              value: "4000"
            - name: ANALYTICS_DB_URL
              value: "mongodb://mongodb:27017"
            - name: RABBITMQ_URL
              value: "amqp://admin:password@rabbitmq:5672"

---
apiVersion: v1
kind: Service
metadata:
  name: analytics
spec:
  selector:
    app: analytics
  ports:
    - port: 4000
      targetPort: 4000
  type: NodePort