html {
    position: relative;
    min-height: 100%;
  }

body {
  margin-bottom: 60px;
}

body > .container {
  padding: 60px 15px 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.rounded-symbol {
  border-radius: 50%!important;
  background-color: #FFE000;
  padding:4px;
}

code {
  font-size: 80%;
}

.card-text {
  font-family: 'Consolas', 'Courier New', Courier, monospace
}