apiVersion: apps/v1
kind: Deployment
metadata:
  name: analytics
spec:
  replicas: 3
  selector:
    matchLabels:
      app: analytics
  template:
    metadata:
      labels:
        app: analytics
    spec:
      imagePullSecrets:
        - name: gitlab-registry-secret
      containers:
        - name: analytics
          image: registry.gitlab.lnu.se/eg223ps/assignment-2-2dv013/taskit-analytics:main
          ports:
            - containerPort: 4000
          envFrom:
            - configMapRef:
                name: analytics-config
          resources:
            limits:
              memory: "256Mi"
              cpu: "250m"
            requests:
              memory: "128Mi"
              cpu: "125m"