apiVersion: apps/v1
kind: Deployment
metadata:
  name: analytics
spec:
  replicas: 3
  selector:
    matchLabels:
      app: analytics
  template:
    metadata:
      labels:
        app: analytics
    spec:
      containers:
        - name: analytics
          image: pannkakor/taskit-analytics:1.0.0
          ports:
            - containerPort: 4000
          envFrom:
            - configMapRef:
                name: analytics-config